# CHANGE VARIABLES BELOW AND RENAME FILE TO '.env'
# $SHARE_DIR on HOST will be mapped to '/share' on container:

# EXAMPLES:
# SHARE_DIR=/Users/username
# SHARE_DIR=/home/username
# SHARE_DIR=/home/username/git/picoctf-challenge
SHARE_DIR=/
